body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
<<<<<<< HEAD
  width:550px;
=======
  width:419px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:364px;
  height:391px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
=======
  width:385px;
  height:829px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
}
#u0 {
  border-width:0px;
  position:absolute;
<<<<<<< HEAD
  left:186px;
  top:47px;
  width:364px;
  height:391px;
=======
  left:34px;
  top:29px;
  width:385px;
  height:829px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:64px;
  width:197px;
  height:37px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
=======
#u1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:372px;
  width:295px;
  height:71px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:71px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
=======
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
<<<<<<< HEAD
  left:291px;
  top:341px;
  width:140px;
  height:40px;
=======
  left:63px;
  top:571px;
  width:300px;
  height:128px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
}
#u2_text {
  border-width:0px;
  position:absolute;
<<<<<<< HEAD
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:125px;
  width:181px;
  height:22px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3_input:disabled {
  color:grayText;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:196px;
  width:100px;
  height:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:227px;
  width:100px;
  height:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:253px;
  width:46px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:253px;
  width:50px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
=======
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
}
#u8 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:257px;
  width:28px;
  height:18px;
}
#u8_text {
=======
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:540px;
  width:91px;
  height:21px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_text {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:28px;
  white-space:nowrap;
}
#u9_div {
=======
  width:91px;
  white-space:nowrap;
}
#u4_div {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
=======
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u9 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:260px;
  width:23px;
  height:18px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:157px;
  width:181px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
=======
#u4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:252px;
  width:140px;
  height:40px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:124px;
  width:295px;
  height:118px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:118px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
<<<<<<< HEAD
#u10_input:disabled {
  color:grayText;
}
#u11_div {
=======
#u6_div {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:25px;
  height:18px;
=======
  width:229px;
  height:21px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
}
#u11 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:127px;
  width:25px;
  height:18px;
}
#u11_text {
=======
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:89px;
  width:229px;
  height:21px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_text {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:25px;
  white-space:nowrap;
}
#u12_div {
=======
  width:229px;
  white-space:nowrap;
}
#u7_div {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:47px;
  height:18px;
=======
  width:178px;
  height:21px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
}
#u12 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:155px;
  width:47px;
  height:18px;
}
#u12_text {
=======
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:331px;
  width:178px;
  height:21px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7_text {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:47px;
  white-space:nowrap;
}
#u13_div {
=======
  width:178px;
  white-space:nowrap;
}
#u8_div {
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
=======
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u13 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:196px;
  width:35px;
  height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
=======
#u8 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:453px;
  width:140px;
  height:40px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
>>>>>>> 73d4fa06c917c5345dc4c08fe488b06b0670edc0
}
